html, body {
    height: 100%;
}

html, body, div, h1, h2, h3, fieldset, form, label {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    line-height: 1;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 62.5%;
    color: #0d0c22;
    background: #3a2e65;
    padding: 0;
    margin: 0;
    overflow: hidden;   
}

.grass {
    background-image: url(./assets/ontop-grass.png);
    bottom: 0;
    right: 0;
    padding-right: 80px;
    position: absolute;
    width: 708px;
    height: 243px;
    z-index: 2;
}

@keyframes vibrate { 
    50% { 
      transform: rotate(-1deg); 
      transform: scaleY(1.05)
    } 
    100% { 
      transform: rotate(1deg); 
    } 
}

.grass {
    animation:vibrate 2.5s linear infinite;
}

.background-vid {
    height: 100%;
    width: 100%;
	z-index: 0;
}

.login-content {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 100px;
}

.login-content
.login-box {
    position: absolute;
    background-image: url(./assets/blur-box.png);
    z-index: 1;
    margin-top: 140px;
    width: 496px;
    height: 480px;
}

.login-content main{
    position: absolute;
    z-index: 2;
    text-align: left;
    margin-top: 215px;
    margin-left: 75px;
    width: 496px;
}

.login-content h3 {
    font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15pt;
    color: #3a2e65;
    animation-name: anim-float-in;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
}

.login-content h2 {
    font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 48pt;
    font-weight: bold;
    color: #3a2e65;
    margin-top: 6px;
    margin-bottom: 14px;
    animation-name: anim-float-in;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
}

form fieldset {
    margin: 0 0 12px;
    animation-name: anim-float-in;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
}

label {
    display: block;
    font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 11pt;
    font-weight: bold;
    margin: 4px 0 6px;
    color: #3a2e65;
}

input.text-input {
    width: 100%;
    max-width: 340px;
    margin-right: 8px;
}

input.text-input::placeholder {
    font-family: 'Helvetica Neue Light', Arial, Helvetica, sans-serif;
}

input[type='text'],
input[type='password'] {
    border: 1px solid transparent;
}

input[type='text'], 
input[type='password'] {
    font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
    max-width: 340px;
    box-sizing: border-box;
    height: 40px;
    padding: 10px 16px;
    outline: none;
    border-radius: 4px;
    transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease;
    appearance: none;
    color: #3a2e65;
    background-color: #eeeef0;
}

input:hover[type='text'],
input:hover[type='password'] {
    background-color: #fff;
    border-color: rgba(0,0,0,0.1);
    box-shadow: 0 0 0 4px #3a2e6513;
}

input.btn-form-sub {
    display: block;
    width: 100%;
    max-width: 160px;
    margin-top: 24px;
    animation-name: anim-float-out;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
}

.btn-form-sub {
    font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    height: 40px;
    color: #ffffff;
    padding: 10px 16px;
    cursor: pointer;
    border: none;
    text-align: center;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #e47971, #fcb36b, #fcb36b, #fca956);
    border-radius: 50px;
}

.btn-form-sub:hover {
    background-position: 100% 0;
    transition: all 400ms ease-in-out;
}

.btn-form-sub:hover {
    background-image: linear-gradient(to right, #e47971, #e47971, #fcb36b, #e68079);
    box-shadow: 0 4px 15px 0 #fcb46bce;
}

@keyframes anim-float-in {
    from { transform: translate(0,  12px); }
    50%  { transform: translate(0, -8px); }
    to   { transform: translate(0, 0px); }    
}

@keyframes anim-float-out {
   from { transform: translate(0,  -12px); }
    50%  { transform: translate(0, 8px); }
    to   { transform: translate(0, 0px); }     
}